@model EventManager.Models.EventItem

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>EventItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Name</label>
                <input id="event-name" value="@Model.EventName"/>
            </div>
            <div class="form-group">
                <label class="control-label">Description</label>
                <input id="event-description" value="@Model.EventDescription"/>
            </div>
            <div class="form-group">
                <label class="control-label">Event DateTime</label>
                <input id="event-date"value="@Model.EventTime"/>
            </div>
            <div class="form-group">
                <button type="button" name ="@Model.Id" id="save-edit-button">Save</button>
            </div>
        </form>
    </div>
</div>
<div id="add-item-error" class="text-danger"></div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

